*{
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    
    font-family: Arial, sans-serif;
    background-color: #efe9f7;
    color: #333;
}

h1 {
    color: #4CAF50;
}
h2{
   
    font-size: 28px;
    color: #151615;
 
}

h3{

    font-size: 28px;
        color: #151615;
    
    
}
h4{
   
    font-size: 20px;
    color: #151615;
 
}

p {
    font-size: 16px;
}
.container{
max-width: 1200px;
   margin: 0 auto;

}
.content {

min-height: 80px;
background: linear-gradient(90deg,
rgba(203,18,133,1)0%,
rgba(80,49,145,1)70%
); 

}
.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content:  space-between;
}
.logo{
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
.menu .navbar ul li {
    position: relative;
    float: left;

}

.menu .navbar ul li a {
   font-size: 18px;
   padding: 20px;
   color: #DEDEDE;
   display: block;
   font-weight: bold;

}
.menu .navbar ul li a:hover {
   
    color:#ffffff;



 
 }
 #menu{
    display: none;
 }
 
.menu-icono{
    width: 25px;
}
.menu label {
    cursor: pointer;
    display: none;
}

@media  (max-width:991px) {
    .content{
      min-height: 70px;
    }
    .menu{
        top: 0;
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(90deg,
        rgba(203,18,133,1)0%,
        rgba(80,49,145,1)70%
        ); 
        display: none;
    
        
    }
    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }
    
}

.img1{
    width: 20%;
    border-radius: 25px;
}

.general{
   display: flex;
margin: auto;
  
}



.informacion{
  
    width: 40%;
    height: 800px;
    border: 1px solid #333;

    
}
.contactos{
  margin: auto;
    width: 530px;
    height: 397px;
    border: 1px solid #333;

    
}
.datos{
    margin: auto;
      width: 530px;
      height: 50%;
      border: 1px solid #333;
  
      
  }

.proyectos{
   
    width: 30%;
    height: 800px;
    border: 1px solid #333;
    
}
.especialidad{
  
    width: 30%;
    height: 800px;
    border: 1px solid #333;
   
}